.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: #ff0000;
    color: #fff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transform: translate(-50%, -50%);
    font-family: 'Open Sans', sans-serif;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

button::-moz-focus-inner {
    border: 0;
}

.close {
    position: absolute;
    top: 5%;
    left: 5%;
    border: none;
    background: none;
    cursor: pointer;
}

.modal-bg {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.5s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modal {
    position: relative;
    background-color: #fff;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    font-family: 'Open Sans', sans-serif;
}

.alert{
    width: 70px;
}

.cancel-btn {
    width: 40%;
    border: 1px solid #ccc;
    color: #727272;
    padding: 5px;
    background: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.unistall-btn {
    width: 40%;
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
} 